
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Short Urls</a>
  
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="/url/all">All</a>
              <a class="nav-link active" aria-current="page" href="/about">About</a>
            </div>
          </div>
        </div>
      </nav>